path.line
{
    fill: none;
    stroke-width:5
}

.area {
    fill: steelblue;
    opacity: 0.5;
}

.area2 {
    fill: steelblue;
    opacity: 0.5;
}


.area {
    fill: steelblue;
    opacity: 1;
}

.area {
    fill: steelblue;
    opacity: 1;
}